<div class="container">
  <mat-form-field class="example-form" appearance="outline">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
    <!-- <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button> -->
  </mat-form-field>

  <mat-form-field class="example-form" appearance="outline">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)"
        class="prev-mat-chip"
      >
        {{ fruit }}
        <mat-icon matChipRemove *ngIf="removable" class="prev-mat-chip-cancel"
          >cancel</mat-icon
        >
      </mat-chip>
      <input
        placeholder="New fruit..."
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        <mat-icon>account_circle</mat-icon>
        <span>{{ fruit }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-form">
    <mat-label>Choose an option</mat-label>
    <mat-select>
      <mat-option value="option1">
        <mat-icon>account_circle</mat-icon>
        <span>opt 1</span>
      </mat-option>
      <mat-option value="option2" disabled>
        <mat-icon>account_circle</mat-icon>
        <span>opt 2 (disabled)</span>
      </mat-option>
      <mat-option value="option3">
        <mat-icon>account_circle</mat-icon>
        <span>opt 3</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  {{ fruits | json }}
</div>
<button (click)="openDialog('XD')">Filters</button>
<button (click)="onShowDialog($event)">Filters 2</button>
<span class="material-icons">face</span>

<div class="card__container">
  <div class="pvt-card">
    <div class="pvt-card__header">
      <div class="finger-id">
        <div class="finger-id__icon">
          <span class="material-icons finger-icon"> fingerprint </span>
        </div>
        <div class="finger-id__serial">
          <span>635aad33-05e8-433b-9504-8293587800d4 </span>
          <span class="material-icons copy-icon"> content_copy </span>
        </div>
      </div>
    </div>

    <div class="pvt-card__data">
      <div class="pvt-card__data-image">
        <span class="material-icons person-icon"> person </span>
        <!-- <span class="material-icons-outlined">
            person
            </span> -->
      </div>
      <div class="pvt-card__data-information">
        <span>HEATHER CLARK</span>
        <div class="auth-information">
          <div class="tag-serial">
            <span>635aad33-05e8-433b-9504-8293587800d4 </span>
            <span class="material-icons copy-icon"> content_copy </span>
          </div>

          <div class="tag-auth">
            <span class="material-icons tag-auth-icon"> inventory </span>
            <span>Digital onboarding</span>
          </div>
        
          <div class="tag-auth">
            <span class="material-icons tag-auth-icon"> inventory </span>
            <span>Digital onboarding</span>
          </div>

          <div class="tag-auth">
            <span class="material-icons tag-auth-icon"> inventory </span>
            <span>Digital onboarding</span>
          </div>

          <div class="tag-auth">
            <span class="material-icons tag-auth-icon"> inventory </span>
            <span>Digital onboarding</span>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- {{chipList | json}} -->
